/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background:#cf536d;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.embla {
  position:absolute;
  width:250px;
  overflow:hidden;
  padding:10px;
  height:400px;
  left:50%;
  top:50%;
  transform:translateX(-50%) translateY(-50%);
}
.embla__container {
  display: flex;
  height:100%;
}
.embla__slide {
  margin:10px;
  background:white;
  position: relative;
  flex: 0 0 100%;
  border-radius:5px;
  box-shadow: 0 12px 18px 0 rgba(0,0,0,0.2);
  
}